<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的移动端乐淘搜索</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <link rel="stylesheet" href="./lib/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet/less" href="./less/search.less">
    <script src="./lib/less/less.js"></script>
    <script src="./js/rem.js"></script>
</head>
<body>
        <header id="header">
                <a href="javascript:history.back();" class="fa fa-arrow-left"></a>
                <h4>搜索中心</h4>
               
              </header>
    <main id="main">
            <form action="#" class="form-search">
                    <input type="search" class="input-search" name="" placeholder="请输入要搜索的商品">
                    <button type="button" class="mui-btn mui-btn-primary btn-search">搜索</button>
            </form>
        <div class="search-history">
                <div class="mui-card">
                        <!--页眉，放置标题-->
                        <div class="mui-card-header">搜索历史 
                            <a href="#"class="fa fa-trash  btn-clear">清空记录</a>
                        </div>
                        <!--内容区-->
                        <div class="mui-card-content">
                                <ul class="mui-table-view">
                                        <li class="mui-table-view-cell">菜单
                                                <span class="mui-badge mui-badge-primary fa fa-times"></span>
                                        </li>
                                        <li class="mui-table-view-cell">菜单
                                                <span class="mui-badge mui-badge-primary fa fa-times"></span>
                                        </li>
                                        <li class="mui-table-view-cell">菜单
                                                <span class="mui-badge mui-badge-primary fa fa-times"></span>
                                        </li>
                                      </ul>
                        </div>
                    </div>
        </div>
           
    </main>
    <footer id="footer">
            <ul>
                <li>
                    <a href="index.html" class="fa fa-home active">
    
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="category.html" class="fa fa-bars">
    
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="cart.html" class="fa fa-shopping-cart">
    
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="user.html" class="fa fa-user">
    
                        <p>个人中心</p>
                    </a>
                </li>
            </ul>
        </footer>
        <script id="searchListTpl" type="text/html">
            <!--{{if rows.length > 0}}-->
            <!--{{each rows value index}}-->
            <!--<li class="mui-table-view-cell">{{value}}-->
                <!--<span href="#" class="mui-badge mui-badge-success fa fa-times btn-delete" data-index="{{index}}"></span>-->
            <!--</li>-->
            <!--{{/each}}-->
            <!--{{else}}-->
            <!--<li class="mui-table-view-cell">-->
                <!--你还没有女朋友！-->
            <!--</li>-->
            <!--{{/if}}-->
            {{if rows.length>0}}
            {{each rows value index}}
            <li class="mui-table-view-cell">{{value}}
                <span class="mui-badge mui-badge-primary fa fa-times  btn-delete" data-index="{{index}}"></span>
            </li>
            {{/each}}
            {{else}}
            <li class="mui-table-view-cell">你还没有搜索数据</li>
            {{/if}}
        </script>
        <script src="./lib/zepto/zepto.min.js"></script>
        <script src="./lib/mui/js/mui.js"></script>
        <script src="./lib/artTemplate/template-web.js"></script>
        <!-- <script src="./lib/artTemplate/template.js"></script>
     <script src="./lib/artTemplate/template-native.js"></script> -->
        <script src="./js/search.js"></script>
</body>
</html>